<div class="container mt-4">
  <div *ngIf="isLoading">
    <img src="https://media.tenor.com/IQTMA9sAyWsAAAAj/pikachu-pokemon.gif" alt="Loading..." class="loading">
  </div>
  <div *ngIf="!isLoading">
    <h2>Pokemon List</h2>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of pokemons">
          <th>
            <a class="link" (click)="viewDetails(pokemon.url)">{{ pokemon.name | uppercase }}</a>
            </th>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
        <button [disabled]="offset == 0" type="button" class="btn btn-primary searchButton" (click)="previousPage()">Previous Page</button>
        <button type="button" class="btn btn-primary searchButton" (click)="nextPage()">Next Page</button>
    </div>
  </div>

</div>
