<div>
  <div *ngIf="isLoading">
    <img src="https://media.tenor.com/IQTMA9sAyWsAAAAj/pikachu-pokemon.gif" alt="Loading..." class="loading">
  </div>
  <div class="pokemon-details" *ngIf="pokemonDetail">
    <h2>{{ pokemonDetail.name | uppercase }}</h2>
    <div class="details">
      <div>
        <strong>Height:</strong> {{ pokemonDetail.height }}
      </div>
      <div>
        <strong>Base Experience:</strong> {{ pokemonDetail.base_experience }}
      </div>
     <div>
      <strong>Abilities:</strong>
      <ul>
        <li *ngFor="let ability of pokemonDetail.abilities">
          {{ ability.ability.name}}
        </li>
      </ul>
     </div>
     <div>
      <strong>Type:</strong>
      <ul>
        <li *ngFor="let type of pokemonDetail.types">
          {{ type.type.name}}
        </li>
      </ul>
     </div>
    </div>
  </div>
  <div class="pagination">
    <button type="button" class="btn btn-primary searchButton" (click)="goBack()">Back to table</button>
</div>
</div>