.pokemon-details {
  margin: 20px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  padding: 20px;
}

.details {
  margin: 20px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  padding: 20px;
}


  .loading {
  width: auto;
  height: 10rem;
  display: block;
  margin: 20px auto;
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}
